#c {
    border: 1px solid black;
}

#bd-wrapper {
    margin-left: 15px;
}

#global-controls {
    margin-top:4px;
}

#rasterize-svg,
#save-new-product-button,
#save-product-button,
#delete-product {
    margin: 0 4px;
}

.row {
    margin: 0;
}

#navbar-logo {
    height: 100%;
}


/* */
#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
    font-size:12px    
}

#login-dp .bottom {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#sign-in-button {
    background-color: #e51937;
    border-color: red;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top:0 none;
    }
}
/* */